@import "themes/theme.css";

* {
  font-family: "Berkeley Mono", monospace;
  font-size: 15px;
}

button {
  border: none;
  border-radius: 0;
}

#custom-voxtype.recording {
  animation: pulse 1s ease-in-out infinite;
}

#custom-voxtype.transcribing {
  font-style: italic;
}
