* {
  color: #1a1a1a;
}

#waybar {
  background: #f5f5f5;
}

#workspaces button {
  padding: 0 10px;
  color: #1a1a1a;
}

#workspaces button.focused,
#workspaces button.active {
  background: #ebebeb;
  color: #1a1a1a;
}

tooltip {
  color: #1a1a1a;
  background-color: #ebebeb;
  text-shadow: none;
}

tooltip * {
  color: #1a1a1a;
  text-shadow: none;
}
