* {
  color: #ebdbb2;
}

#waybar {
  background: #1d2021;
}

#workspaces button {
  padding: 0 10px;
  color: #ebdbb2;
}

#workspaces button.focused,
#workspaces button.active {
  background: #665c54;
  color: #ebdbb2;
}

tooltip {
  color: #ebdbb2;
  background-color: #665c54;
  text-shadow: none;
}

tooltip * {
  color: #ebdbb2;
  text-shadow: none;
}
